@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.slide-categories {
  width: 100%;
  height: 10rem;
  color: #f6eaf3;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperslide {
  width: 100%;
  text-align: center;
  color: #f6eaf3;
  border: 1px solid white;
}
