.UserBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 ,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserContainer{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    background: var(--cor-1);
    padding: 30px;
}

.UserContent-Container h2{
    
}