@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-login: #fff;
  --bg-input: #f5f7f880;
  --border: #dfdfdf;
}

.rent {
  margin: auto;
  margin-top: 8rem;
  max-width: 800px;
  background: var(--bg-login);
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.rent-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.container {
  padding: 30px;
}

form.ativo {
  display: block;
}

.ct-input {
  width: auto;
  position: relative;
}

.movie-time {
  color: black;
}

.movie-name,
.movie-description,
.movie-condition,
.movie-time p {
  color: black;
}

button {
  border: 0;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

.movie-info {
  width: 100%;
  display: flex;
}

.movie-image {
  width: 50%;
}

.movie-info-rent {
  width: 50%;
  margin: 0;
}

.movie-image img {
  width: 100%;
  height: 50vh;
  position: relative;
  margin: auto;
  background-size: contain;
}

.title-movie {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4cbfa6;
  padding: 0px 25px;
}

.movie-description {
  padding: 0px 25px;
  width: 80%;
  color: black;
  font-weight: bold;
  opacity: 50%;
  margin-top: 10px;
}

.movie-evaluation {
  padding: 0px 25px;
  margin-top: 10px;
}

.starsize {
  width: 20px;
  height: 20px;
}

.movie-condition {
  padding: 0px 25px;
  margin-top: 10px;
}

.movie-condition span {
  color: rgb(53, 200, 53);
}

.movie-time {
  padding: 0px 25px;
  margin-top: 10px;
}

.movie-price {
  padding: 0px 25px;
  margin-top: 10px;
  color: rgb(53, 200, 53);
  font-size: 1.5rem;
  font-weight: bold;
}
