.modaluserbackground {
  position: fixed;
  z-index: 10000;
  display: grid;
  place-items: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 650px;
  width: 100%;
  padding: 0 1rem;
}

.modalcontainer {
  background: var(--cor-1);
  color: var(--cor-6);
  transform: translateY(-1rem);
  animation: 0.1s show forwards;
  border-radius: 10px;
  box-shadow: var(--sombra);
  width: 100%;
}

.modalcontainer .name-modaluser {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
